*.pdf

# Exclude external projects and their supplementary directories
*algorithms/
*cartographs/
*candles/
*populations/
*states/
*counties/

# Exclude large files
*warehouse/capita.csv

# Include
!warehouse/candles/
!hopkins/algorithms/
!notebooks/warehouse/states
!notebooks/warehouse/states/candles